*:focus {
    outline: 0;
}

.cover {
    background: url(/images/trail_homescreen.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    background-color: #FAFAFA;
}

.header {
    background-color: #449d44;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: table;
    z-index: 99999;

    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: #FAFAFA;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#timeline {
    padding-top: 50px;
    height: 150px;
    width: 100%;
    color: #ccc;
}

#timeline .timeLeft .timestamp {
    font-size: 24px;
    float: none;
}

#timeline .timeLeft {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}

.brick {
    display: table;
    position: relative;
    padding: 5px 0 5px 0;
}

.brick:first-child {
    padding-top: 0;
}

.brickContent {
    position: relative;
    padding-left: 10px;
}

.editBrick, .brickContent {
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.brickContent:hover {
    background-color: #FFFFFF;
}

/* Brick left arrow */
.brickContent:after, .brickContent:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.brickContent:hover:after {
    border-right-color: #fff;
}

.brickContent:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #eeeeee;
    border-width: 6px;
    margin-top: -6px;
}
.brickContent:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #bbbbbb;
    border-width: 7px;
    margin-top: -7px;
}

.timestamp {
    float: right;
    color: #999999;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#contributors {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    width: 600px;
}

#contributors .avatar {
    float: right;
    margin-left: 5px;
}

.backBtn {
    color: #ccc;
    text-align: center;
    padding-right: 5px;
    vertical-align: middle;
}

.backBtn:hover {
    color: #eee;
    text-decoration: none;
}

.trailTitle {
    color: #FAFAFA;
    vertical-align: middle;
}

.addBrickTabs {
    cursor: pointer;
}

.addBrickTabs.active {
    cursor: default;
}

.brickAddBox {
    background-color: #fff;
    height: 120px;
    max-height: 120px;

    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.brickAddBox input {
    font-size: 22px;
    height: 41px;
    text-align: center;
}

.commentBox, .reqBox {
    width: 100%;
    height: 99%;
    padding: 10px;
    border: none;
    overflow: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.reqBox {
    height: 56%;
}

.commentBtn {
    vertical-align: top;
    float: right;
    margin-top: 10px;
}

.container {
    max-width: 800px;
    display: table;
}

.feed {
    width: 100%; /*width: 770px; preparation for right panel*/
    float: left;
}

.rightPanel {
    margin-top:80px;
    width: 100px;
    height: 500px;
    float: right;
    background-color: darkgray;
}

.avatar {
    border-radius: 4px;
    box-shadow: 0 1px 0 #449d44;
    max-width: 40px;
    max-height: 40px;
}

.commitId {
    float: right;
}

.commitIcon {
    opacity: .6;
    margin: 3px;
    width: 20px;
}

.brickUserIcon {
    padding-right: 10px;
}

.brick .brickUserIcon {
    display: table-cell;
}

.reqLabel {
    vertical-align: middle;
    margin: 5px;
}

.meetingTimePicker {
    width: 100px;
}

/* Workaround for fixing TimePicker inline display issue */
.input-group {
    display: inline-table;
    vertical-align: middle;
}

.meetingParticipant {
    cursor: pointer;
}

.markedOut {
    opacity: .6;
}

.meetingIcon {
    margin: 0 auto;
    font-size: 22px;
    width: 22px;
    opacity: .7;
    padding: 10px 0 10px 0;
}

.meetingBox {
    padding: 5px 10px 10px 10px;
    height: 120px;
}

#meetingLocationInput {
    width: 180px;
}

.centerContainer {
    display: table;
    margin: 0 auto;
}

.assigneeBox {
    margin-left: 7px;
}

.footer {
    height: 100px;
}

.loggedInUserBox {
    vertical-align: middle;
    display: inline-block;
    float: right;
    line-height: 45px;
    padding-right: 5px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#trailList {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}

.trailListItem {
    padding-right: 36px;
}

.trailListItemTitle {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.addTrailBtn {
    cursor: pointer;
    padding: 2px;
    float: right;
}

.goToTrailBtn {
    cursor: pointer;
    padding: 2px;
    float: right;
    opacity: .5;
}

.addTrailInput {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #E0E0E0;
    width: 87%;
    resize: none;
}

.addContributorBtn {
    background-color: #b3b3b3;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: .8;
    cursor: pointer;
    color: #ccc;
    margin-top: -1px; /* Hack - Fix it! */
}

.addContributorBtn:hover {
    color: #ddd;
}

.searchUserContainer {
    width: 230px;
    height: 40px;
    cursor: pointer;
}

.searchUserContainer, .searchUserContainer input {
    display: table-cell;
    vertical-align: middle;
    float: right;
}

.searchUserContainer ul {
    width: 180px;
}

.searchUserContainer .userResultItem, .searchUserContainer .userResultItem .userName {
    padding-left: 10px;
}

.verticalAlignMiddle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.userSearchInput {
    width: 180px;
    font-size: 14px;
    margin-left: 5px;
}

#googleLoginBtn {
    display: block;
    margin: auto;
    background: #dd4b39;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    width: 204px;
    margin-top: 30px;
}

#googleLoginBtn:hover {
    background: #e74b37;
}

#googleLoginBtn .icon {
    background: url('https://google-developers.appspot.com/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
}

#googleLoginBtn .buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'Roboto',arial,sans-serif;
}

.loginContainer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.landingPageTitle {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    white-space: pre-line;
}

.mainTitle {
    font-size: 28px;
}

.subTitle {
    font-size: 24px;
}

.appLogo {
    padding-left: 20px;
    color: #FAFAFA;
}

.appLogo:hover {
    text-decoration: none;
    color: #FAFAFA;
}

.trailListItem a, .trailListItem a:hover {
    color: #333;
    text-decoration: none;
}

.trailListItem.done .trailListItemTitle, .trailListItem.done .trailListItemTitle:hover {
    text-decoration: line-through;
    color: #a6a6a6;
}

.trailListItem.owner {
    font-weight: bold;
}

.trailHeader {
    margin: 10px 0;
    height: 40px;
}

.trailHeader .trailBtn {
    float: right;
    margin-left: 10px;
    position: relative;
    vertical-align: top;
    width: 110px;
    height: 40px;
    padding: 0;
    font-size: 16px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
    cursor: pointer;
    border-radius: 4px;
}

.trailHeader .trailBtn:active {
    top: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.trailHeader .trailBtn.doneBtn {
    background: #4cb34c;
    border-bottom: 2px solid #449d44;
    -webkit-box-shadow: inset 0 -2px #449d44;
    box-shadow: inset 0 -2px #449d44;
}

.trailHeader .trailBtn.deleteBtn {
    background: #fa576a;
    border-bottom: 2px solid #d6323b;
    -webkit-box-shadow: inset 0 -2px #d6323b;
    box-shadow: inset 0 -2px #d6323b;
}

.benefitsTitle {
    margin-top: 80px;
}

.benefits {
    margin: 25px auto;
    height: 210px;
    width: 100%;
    padding: 20px;
    background-color: rgba(184, 184, 184, 0.38);
    border-radius: 8px;
}

.benefit {

}

.benefitIcon {
    -webkit-transition: all .2s ease-in-out;
}

.benefitIcon:hover {
    -webkit-transform: scale(1.2);
}

.benefitTitle {
    margin: 15px auto;
    font-size: 20px;
    color: #FFFFFF;
}

.aboutTrail {
    color: #D2D2D2;
    margin: 50px auto;
}

.addTrailContainer.animated.shake {
    -webkit-animation-duration: .7s;
}

.trailActionButton {
    padding: 3px;
    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;
}

.trailActionButton:hover {
    opacity: 1;
}

.trailActionsContainer {
    margin-left: 15px;
    display: inline-block;
}

.trailActionsContainer .glyphicon.glyphicon-remove:hover {
    color: #e00000;
}

.trailActionsContainer .glyphicon.glyphicon-ok:hover {
    color: #00bb00;
}

.trailActionsContainer .glyphicon.glyphicon-repeat:hover {
    color: #D5D5D5;
}

.glyphicon.glyphicon-ok {
    top: -1px;
}

.glyphicon.glyphicon-repeat {
    font-size: 16px;
    font-weight: bold;
    top: 2px;
}

.trailTitle.done {
    text-decoration: line-through;
    color: #d9d9d9;
}