body {
    background-color: #FAFAFA;
}

.header {
    position: fixed;
    background-color: #449d44;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: table;
    z-index: 99999;

    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: #FAFAFA;
}

#timeline {
    padding-top: 50px;
    height: 150px;
    width: 100%;
    color: #ccc;
}

#timeline .timeLeft .timestamp {
    font-size: 24px;
    float: none;
}

#timeline .timeLeft {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}

.brick {
    display: table;
    position: relative;
    padding: 5px 0 5px 0;
}

.brickContent {
    position: relative;
    padding-left: 10px;
}

.editBrick, .brickContent {
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.brickContent:hover {
    background-color: #FFFFFF;
}

/* Brick left arrow */
.brickContent:after, .brickContent:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.brickContent:hover:after {
    border-right-color: #fff;
}

.brickContent:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #eeeeee;
    border-width: 6px;
    margin-top: -6px;
}
.brickContent:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #bbbbbb;
    border-width: 7px;
    margin-top: -7px;
}

.timestamp {
    float: right;
    color: #999999;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#contributors {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

#contributors img {
    float: right;
    margin: 3px;
}

.backBtn {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    width: 50px;
    height: 100%;
    line-height: 1;
    vertical-align: middle;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    color: #ccc;
    text-align: center;
}

.backBtn:hover {
    color: #eee;
    background-color: #4cac4c;
}

.addBrickTabs {
    cursor: pointer;
}

.addBrickTabs.active {
    cursor: default;
}

.brickAddBox {
    height: 200px;
    max-height: 200px;
}

.commentBox {
    margin-bottom: 10px;
}

.commentBtn {
    vertical-align: top;
    float: right;
}

.container {
    max-width: 800px;
}

.avatar {
    border-radius: 4px;
    box-shadow: 0 1px 0 #449d44;
}

.commitId {
    float: right;
}

.commitIcon {
    opacity: .6;
    margin: 3px;
    width: 20px;
}

.brickUserIcon {
    padding-right: 10px;
}

.brick .brickUserIcon {
    display: table-cell;
    /*vertical-align: middle;*/
}