<div ng-class="{coverImg: $root.loggedInUser === null}">
    <div class="header">
        <span class="helper"></span>
        <a class="appLogo" href="#/home">Trail</a>
        <span class="loggedInUserBox">
            <img class="avatar" ng-src="{{$root.loggedInUser.avatar}}" alt=""/>
        </span>
    </div>
    <div ng-if="$root.loggedInUser">
        <div id="trailList" class="container">
            <!-- List all in progress trails -->
            <div class="trailListItem panel-body" ng-repeat="(id, trail) in trails" ng-if="trail.status !== 'DONE'">
                <a class="trailListItemTitle" ng-href="#/trail/{{id}}">{{trail.name}}</a>
                <a class="goToTrailBtn glyphicon glyphicon-chevron-right" ng-href="#/trail/{{id}}"></a>
            </div>
            <!-- List all done trails -->
            <div class="trailListItem panel-body done" ng-repeat="(id, trail) in trails" ng-if="trail.status === 'DONE'">
                <a class="trailListItemTitle" ng-href="#/trail/{{id}}">{{trail.name}}</a>
                <a class="goToTrailBtn glyphicon glyphicon-chevron-right" ng-href="#/trail/{{id}}"></a>
            </div>

            <div class="addTrailContainer panel-body">
                <input type="text" class="addTrailInput" ng-model="trailName" ui-event="{blur:'emptyInput($event)'}" ui-keypress="{13:'addAndGoToTrail(trailName)'}" />
                <add-go-button-set></add-go-button-set>
            </div>
        </div>
    </div>
    <div ng-if="$root.loggedInUser === null">
        <div class="cover"></div>
        <div class="text-center loginContainer">
            <div class="landingPageTitle mainTitle">{{mainTitle}}</div>
            <br/>
            <br/>
            <div class="landingPageTitle subTitle">{{tryNowTitle}}</div>
            <div id="googleLoginBtn" ng-click="loginWithGoogle()">
                <span class="icon"></span>
                <span class="buttonText">Sign in with Google</span>
            </div>
            <div class="landingPageTitle benefitsTitle h1">What's inside?</div>
            <div class="benefits">
                <div class="benefit col-md-4">
                    <div class="benefitIcon">
                        <img src="../images/benefit-realtime.png" alt=""/>
                    </div>
                    <div class="benefitTitle text-center">Realtime</div>
                </div>
                <div class="benefit col-md-4">
                    <div class="benefitIcon">
                        <img src="../images/benefit-collab.png" alt=""/>
                    </div>
                    <div class="benefitTitle text-center">Collaborative</div>
                </div>
                <div class="benefit col-md-4">
                    <div class="benefitIcon">
                        <img src="../images/benefit-google.png" alt=""/>
                    </div>
                    <div class="benefitTitle text-center">Integration with Google</div>
                </div>
            </div>
            <div class="aboutTrail">Trail was built with love and passion especially for developers by a developer. It aims to make product development much more efficient, collaborative and trackable. I would love to get your feedback at
                <a href="mailto:me@tomerg.com?subject=Feedback about Trail app">me@tomerg.com</a></div>
        </div>
    </div>
</div>