<div>
    <ul class="nav nav-tabs nav-justified addBrickTabs" role="tablist">
        <li class="active" ng-click="setAddBrickType('comment')"><a>Comment</a></li>
        <li ng-click="setAddBrickType('req')"><a>Requirement</a></li>
        <li ng-click="setAddBrickType('meeting')"><a>Meeting</a></li>
    </ul>
    <div class="brickAddBox" ng-show="type === 'comment'">
        <br/>
        <textarea class="commentBox form-control" rows="3" ng-model="content"></textarea>
        <button class="commentBtn btn btn-default" ng-click="addBrick({type: 'comment', content: content})">
            <span class="glyphicon glyphicon-comment"></span>
        </button>
    </div>
    <div class="brickAddBox" ng-show="type === 'req'">
        <br/>
        <textarea class="commentBox form-control" rows="3" ng-model="content"></textarea>
        <button class="commentBtn btn btn-default" ng-click="addBrick({type: 'req', content: content})">
            <span class="glyphicon glyphicon-comment"></span>
        </button>
    </div>
    <div class="brickAddBox" ng-show="type === 'meeting'">
        <span>Schdule a meeting </span>
        <select name="day" id="meetingDayInput">
            <option value="today">Today</option>
            <option value="tomorrow">Tomorrow</option>
        </select>
        <span>at </span>

        <span class="input-group meetingTimePicker">
            <input id="meetingTimeInput" type="text" class="form-control" value="09:42">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </span>

        <span> with </span>
        <span ng-repeat="contributor in contributors" ng-init="setMeetingParticipants(contributor)" ng-click="toggleMeetingParticipant($event, contributor)">
            <img class="avatar meetingParticipant" ng-src="{{contributor.avatar}}" alt="" />
        </span>

        <br/>

        <button class="commentBtn btn btn-default" ng-click="addMeetingBrick()">
            <span class="glyphicon glyphicon-comment"></span>
        </button>
    </div>
</div>