<div>
    <div class="header">
        <span class="helper"></span>
        <span class="trailTitle">Trail</span>
        <span class="loggedInUserBox">
            <img class="avatar" ng-src="{{loggedInUser.avatar}}" alt=""/>
        </span>
    </div>

    <div id="trailList" class="container">
        <div class="trailListItem panel-body" ng-repeat="(id, trail) in trails">
            <span>{{trail.name}}</span>
            <span class="goToTrailBtn glyphicon glyphicon-chevron-right" ng-click="goToTrail(id)"></span>
        </div>

        <div class="panel-body" ng-show="loggedInUser">
            <input type="text" class="addTrailInput" ng-model="trailName" />
            <add-go-button-set></add-go-button-set>
        </div>

        <div class="panel-body" ng-hide="loggedInUser">
            <span> --- Log in screen --- </span>
        </div>
    </div>
</div>