<div ng-class="{coverImg: $root.loggedInUser === null}">
    <div class="header">
        <span class="helper"></span>
        <span class="trailLogo">Trail</span>
        <span class="loggedInUserBox">
            <img class="avatar" ng-src="{{$root.loggedInUser.avatar}}" alt=""/>
        </span>
    </div>
    <div ng-show="$root.loggedInUser">
        <div id="trailList" class="container">
            <div class="trailListItem panel-body" ng-repeat="(id, trail) in trails">
                <a class="trailListItemTitle" ng-href="#/trail/{{id}}">{{trail.name}}</a>
                <a class="goToTrailBtn glyphicon glyphicon-chevron-right" ng-href="#/trail/{{id}}"></a>
            </div>

            <div class="panel-body">
                <input type="text" class="addTrailInput" ng-model="trailName" ui-event="{blur:'emptyInput($event)'}" ui-keypress="{13:'addAndGoToTrail(trailName)'}" />
                <add-go-button-set></add-go-button-set>
            </div>
        </div>
    </div>
    <div ng-show="$root.loggedInUser === null">
        <div class="cover"></div>
        <div class="text-center loginContainer">
            <div class="landingPageTitle mainTitle">{{mainTitle}}</div>
            <br/>
            <br/>
            <div class="landingPageTitle subTitle">{{tryNowTitle}}</div>
            <div id="googleLoginBtn" ng-click="loginWithGoogle()">
                <span class="icon"></span>
                <span class="buttonText">Sign in with Google</span>
            </div>
        </div>
    </div>
</div>