<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
</head>
<body>

<div class="header">
    <div class="title">Feature name</div>
    <div id="contributors">
        <div ng-init="showContributors()" ng-repeat="contributor in contributors">
            <img class="avatar" ng-src="{{contributor.avatar}}" alt=""/>
        </div>
    </div>
</div>

<div brick ng-repeat="brick in bricks"></div>
<!--<div edit-brick></div>-->
<div class="editBrick">
    <input ng-model="name" type="text"/>
    <br/><br/>
    <button ng-click="addBrick({name: name})">Add brick</button>
</div>

</body>
</html>