<div class="brick" ng-controller="BrickCtrl">
    <user-icon user-id="{{$root.loggedInUser.id}}"></user-icon>
    <div class="brickContent">
        <span class="timestamp" am-time-ago="brick.created"></span>
        Meeting <strong>{{brick.content.day}}</strong> at <strong>{{brick.content.time}}</strong> in <strong>{{brick.content.location}}</strong> for <strong>{{brick.content.purpose}}</strong> with
        <span ng-repeat="participant in brick.content.participants">
            <img class="avatar" ng-src="{{participant.avatar}}" alt=""/>
        </span>
        <span ng-show="!brick.content.participants.length">no one.</span>
    </div>
</div>