<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
</head>
<body>

<div class="header">
    <!--<div class="backBtn" ng-click=""><</div>-->
    <div class="title">
        <a class="backBtn glyphicon glyphicon-chevron-left" href="#home" />
        <span class="trailTitle">Feature name</span>
    </div>
    <div id="contributors">
        <div ng-repeat="contributor in contributors">
            <img class="avatar" ng-src="{{contributor.avatar}}" alt=""/>
        </div>
    </div>
</div>

<div class="container">
    <div class="feed">
        <div id="timeline">
            <div class="timeLeft">
                <span class="timestamp">{{dueDate}}</span> left for finishing this task!
            </div>
        </div>

        <div ng-repeat="brick in bricks" ng-switch on="brick.type">
            <div code-brick ng-switch-when="code"></div>
            <div comment-brick ng-switch-when="comment"></div>
            <div meeting-brick ng-switch-when="meeting"></div>
            <div req-brick ng-switch-when="req"></div>
            <div brick ng-switch-default></div>
        </div>

        <hr>

        <div add-brick></div>
    </div>
    <!--<div class="rightPanel"></div>-->
</div>

<div class="footer">

</div>

</body>
</html>