<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{trail.name}}</title>
</head>
<body>

<div class="header" ng-hide="trail === null">
    <div class="title">
        <a class="backBtn glyphicon glyphicon-chevron-left" ng-href="#home"></a>
        <span class="trailTitle">{{trail.name}}</span>
    </div>
    <div id="contributors">
        <div ng-repeat="contributor in trail.contributors">
            <img class="avatar" ng-src="{{contributor.avatar}}" alt=""/>
        </div>
        <script type="text/ng-template" id="contrib-add.html">
            <a class="userResultItem" ng-show="match.model && match.model.avatar">
                <img ng-src="{{match.model.avatar}}" width="24">
                <span class="userName" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            </a>
            <div class="userNotFoundTitle" ng-show="match.model && match.model.isEmail">
                User with email: <strong>{{match.model.email}}</strong> could not be found. Click to send an invitation.
            </div>
        </script>
        <div class="searchUserContainer">
            <input ng-show="showUserSearchInput"
                   type="text"
                   typeahead="user.name for user in searchUser($viewValue)"
                   typeahead-on-select="handleSearchUserDropdownClick($item, $model, $label)"
                   typeahead-min-length="5"
                   ng-model="userSearchQuery"
                   placeholder="Type Email or username"
                   typeahead-loading="loadingUsers"
                   typeahead-template-url="contrib-add.html"
                   size="15"
                   class="userSearchInput verticalAlignMiddle form-control">

            <div ng-init="showUserSearchInput = false"
                  ng-click="showUserSearchInput = !showUserSearchInput"
                  class="avatar addContributorBtn glyphicon glyphicon-plus"></div>
        </div>
    </div>
</div>

<div class="container" ng-hide="trail === null">
    <div class="trailHeader">
        <button class="trailBtn doneBtn" ng-click="markAsDone()">Done</button>
        <button class="trailBtn deleteBtn" ng-click="deleteTrail()">Delete</button>
    </div>
    <div class="feed">
        <div ng-repeat="brick in trail.bricks" ng-switch on="brick.type">
            <div code-brick ng-switch-when="code"></div>
            <div comment-brick ng-switch-when="comment"></div>
            <div meeting-brick ng-switch-when="meeting"></div>
            <div req-brick ng-switch-when="req"></div>
            <div brick ng-switch-default></div>
        </div>

        <hr>

        <div add-brick></div>
    </div>
    <!--<div class="rightPanel"></div>-->
</div>

<div class="footer" ng-hide="trail === null"></div>


<div class="well notFoundMessage" ng-show="trail === null">
    Oops... Trail not found.
</div>

</body>
</html>